$container-width: 1230px;
$bp-medium: 1200px;
$bp-small: 795px;

$--small: $bp-small;
$--medium: $bp-medium;

$--small: $bp-small;
$--medium: $bp-medium;

//COLORS
// $primary-color: #dbd1e7;
// $secondary-color: #ebe5d3;
// $ternary-color: #f8f5f3;

// $white-color: #fff;
// $black-color: #000;

// $bg-primary: $primary-color;
// $bg-secondary: $secondary-color;
// $bg-dark: $black-color;

// //FONTS
// $primary-font: 'angle';
// $secondary-font: 'Montserrat';

// $weight-medium: 500;
// $weight-light: 300;